---
import Layout from "../layouts/Layout.astro";
import PageWrapper from "../components/layouts/PageWrapper.astro";
import "../styles/about.css";

const streamItems = [
  {
    title: "A Brief History of Neoliberalism",
    author: "David Harvey",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772368848/brief-history_of-neoliberalism_m7ill3.jpg",
    link: "https://www.librarything.com/work/3626/t/A-Brief-History-of-Neoliberalism "
  },
  {
    title: "African Gender Studies: A Reader",
    author: "Oyeronke Oyewumi",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772369479/african-gender-studies_fccccr.jpg",
    link: "https://www.librarything.com/work/9503192/t/African-Gender-Studies-A-Reader"
  },
  {
    title: "A Litany for Survival The Life and Work of Audre Lorde",
    author: "Ada Gay Griffin",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086717/audrelorde_tqdd5v.png",
    link: "https://en.wikipedia.org/wiki/Audre_Lorde"
  },
  {
    title: "All Your Racial Problems Will Soon End",
    author: "Charles Johnson",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772370455/AllYourRacialProblemsWillSoonEnd_ya5dvf.webp",
    link: "https://www.librarything.com/work/28904181/t/All-Your-Racial-Problems-Will-Soon-End-The-Cartoons-of-Charles-Johnson"
  },
  {
    title: "Anthony Bourdain",
    author: "Chef/Author",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086717/anthonybourdain_ptxc5l.png",
    link: "https://en.wikipedia.org/wiki/Anthony_Bourdain"
  },
  {
    title: "A people betrayed - the role of the west in rwanda's genocide",
    author: "Linda Melver",
    image: "https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_568,c_scale,dpr_1.5/jackets/9781350409668.jpg",
    link: "https://www.librarything.com/work/441327/t/A-People-Betrayed-The-Role-of-the-West-in-Rwandas-Genocide"
  },
  {
    title: "Border and Rule: Global Migration, Capitalism, and the Rise of Racist Nationalism",
    author:"Harsha Walia",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086267/borderandrule_s3gyvn.png",
    link: "https://www.librarything.com/work/26022917/t/Border-and-Rule-Global-Migration-Capitalism-and-the-Rise-of-Racist-Nationalism"
  },
  {
    title: "Chantal Mouffe",
    author: "Political Theorist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772366453/chantal-mouffe_tzdlgw.jpg",
    link: "https://en.wikipedia.org/wiki/Chantal_Mouffe"
  },
  {
    title: "Charlene Mitchell & Angela Davis",
    author: "Politician/Activist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086713/angela-charlene_mmbgix.png",
    link: "https://en.wikipedia.org/wiki/Angela_Davis"
  },
  {
    title: "David Lynch",
    author: "Filmmaker",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088627/davidlynch_t3ybzk.png",
    link: "https://en.wikipedia.org/wiki/David_Lynch"
  },
  {
    title: "David Rolfe Graeber",
    author: "Anthropologist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772366177/david-graeber_fir8fl.jpg",
    link: "https://en.wikipedia.org/wiki/David_Graeber"
  },
  {
    title: "Debt: The First 5000 Years",
    author: "David Graebe",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772369215/debt-first-5000-years_m04rc3.png",
    link: "https://en.wikipedia.org/wiki/Debt:_The_First_5,000_Years"
  },
  {
    title: "Disability Visibility: First-Person Stories from the Twenty-First Century",
    author: "Alice Wong",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086339/disabilityvisibility_aj7ohh.png",
    link: "https://www.librarything.com/work/24434060/t/Disability-Visibility-First-Person-Stories-from-the-Twenty-First-Century"
  },
  {
    title: "Edward Said",
    author: "Academic/Political Activist",
    image: " https://res.cloudinary.com/djjc0kf4h/image/upload/v1772367182/edward-said_ilspbv.png",
    link: "https://en.wikipedia.org/wiki/Edward_Said"
  },
  {
    title: "Feminism is for Everybody: Passionate Politics",
    author: "bell hooks",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772369699/feminism-is-for-everybody_vwxyq7.jpg",
    link: "https://www.librarything.com/work/32000/t/Feminism-Is-for-Everybody-Passionate-Politics"
  },
  {
    title: "Gary Younge",
    author: "Columnist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086727/garyyounge_jbkg2p.png",
    link: "https://en.wikipedia.org/wiki/Gary_Younge"
  },
  {
    title: "Goddesses, whores, wives & slaves",
    author: "Sarah B Pomeroy",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772370163/goddesses-whores-wives-and-slaves_ueygjy.jpg",
    link: "https://www.librarything.com/work/20784/t/Goddesses-Whores-Wives-and-Slaves-Women-in-Classical-Antiquity"
  },
  {
    title: "How Europe Underdeveloped Africa",
    author: "Walter Rodney",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088628/walterrodney_n1dlw9.png",
    link: "https://www.librarything.com/work/173407/t/How-Europe-Underdeveloped-Africa"
  },
  {
    title: "How Religion Evolved and Why It Endures",
    author: "Robin Dunbar",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772369826/How-Religion-Evolved-And-Why-It-Endures-Pelican-Books_qu56u4.jpg",
    link: "https://www.librarything.com/work/27713889/t/How-Religion-Evolved-And-Why-It-Endures-Pelican-Books"
  },
  {
    title: "Huey P. Newton",
    author: "Political Activist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772366843/huey-newton_abcvxb.jpg",
    link: "https://en.wikipedia.org/wiki/Huey_P._Newton"
  },
  {
    title: "Invisible Women: Data Bias in a World Designed for Men",
    author: "Caroline Criado Perez",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088626/invisiblewomen_hepfmd.png",
    link: "https://www.librarything.com/work/22617600/t/Invisible-Women-Data-Bias-in-a-World-Designed-for-Men#"
  },
  {
    title: "John Cassavetes",
    author: "Filmmaker",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086523/johncassavetes_zsykck.png",
    link: "https://en.wikipedia.org/wiki/John_Cassavetes"
  },
  {
    title: "Kelela",
    author: "Singer",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086721/kelela_pdqdbb.png",
    link: "https://en.wikipedia.org/wiki/Kelela"
  },
  {
    title: "Kentaro Miura",
    author: "Mangaka",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088626/kentaromiura_lik2ho.png",
    link: "https://en.wikipedia.org/wiki/Kentaro_Miura"
  },
  {
    title: "Kirikou Et La Sorcière",
    author: "Michel Ocelot",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086717/kirikou_tpmgl5.png",
    link: "https://en.wikipedia.org/wiki/Kirikou_and_the_Sorceress"
  },
  {
    title: "Margaret O'Mara",
    author: "Historian",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088649/margaretomara_i2xocx.png",
    link: "https://en.wikipedia.org/wiki/Margaret_O'Mara"
  },
  {
    title: "Octavia E. Butler",
    author: "Writer",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086722/octaviaebutler_nvzkgn.png",
    link: "https://en.wikipedia.org/wiki/Octavia_E._Butler"
  },
  {
    title: "Pedagogy of the Oppressed",
    author: "Paulo Freire",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772371011/Pedagogy-of-the-Oppressed_lwnj1j.jpg",
    link: "https://www.librarything.com/work/9447/t/Pedagogy-of-the-Oppressed"
  },
  {
    title: "Porco Rosso",
    author: "Hayao Miyazaki",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086721/porco_rrensy.png",
    link: "https://en.wikipedia.org/wiki/Porco_Rosso"
  },
  {
    title: "Sister/Outsider: Essays and Speeches",
    author: "Audre Lorde",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772370885/Sister-Outsider_fxovmk.jpg",
    link: "https://www.librarything.com/work/74740/t/Sister-Outsider-Essays-and-Speeches"
  },
  {
    title: "Surveillance, the Cold War, and Latin American Literature",
    author: "Daniel Noemi Voionmaa",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088649/danielnoemivoionmaa_wvzogh.png",
    link: "https://www.librarything.com/work/30551157/t/Surveillance-the-Cold-War-and-Latin-American-Literature"
  },
  {
    title: "Suzanne Césaire",
    author: "Writer/Political Activist",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772367359/suzanne-c%C3%A9saire_ae9uux.jpg",
    link: "https://en.wikipedia.org/wiki/Suzanne_C%C3%A9saire"
  },
  {
    title: "The adventures of the black girl in her search for God",
    author: "Bernard Shaw",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772369971/The-Adventures-of-the-Black-Girl-in-her-Search-for-God_bzdcpa.png",
    link: "https://www.librarything.com/work/257101/t/The-Adventures-of-the-Black-Girl-in-her-Search-for-God"
  },
  {
    title: "The Four Agreements: A Practical Guide to Personal Freedom",
    author: "Miguel Ruiz",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088626/miguelruiz_lfqvgx.png",
    link: "https://www.librarything.com/work/3221/t/The-Four-Agreements-A-Practical-Guide-to-Personal-Freedom#"
  },
  {
    title: "The Future of Information. Ideas, Connections, and the Gods of Electronic Literature",
    author: "Theodor Holm Nelson",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088624/tednelson_m2whhj.png",
    link: "https://archive.org/details/futureofinformat00theo/page/n7/mode/2up"
  },
  {
    title: "The Wretched of the Earth",
    author: "Frantz Fanon",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1772370703/WretchedoftheEarth_w95iag.png",
    link: "https://www.librarything.com/work/315/t/The-Wretched-of-the-Earth"
  },
  {
    title: "Two Bits: The Cultural Significance of Free Software",
    author: "Christopher M. Kelty",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088630/twobits_zt6ewq.png",
    link: "https://www.librarything.com/work/5642301#"
  },
  {
    title: "We Real Cool: Black Men and Masculinity",
    author: "bell hooks",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750088647/werealcool_bf1tab.png",
    link: "https://www.librarything.com/work/22994/t/We-Real-Cool-Black-Men-and-Masculinity#"
  },
  {
    title: "What happened to “African socialism”?",
    author: "Chris Talbot",
    image: "https://res.cloudinary.com/djjc0kf4h/image/upload/v1750086711/africansc_rqhxrw.png",
    link: "https://www.wsws.org/en/articles/2005/05/exch-m19.html"
  }
];
---

<Layout title="Stream - KTTLSAA">
  <PageWrapper>
    <div class="stream-container">
      <div class="stream-intro">
        <h1 class="stream-title">Stream</h1>
        <p class="stream-description">
          The stuff I geek out about; a list of books, different media & the people whose work I admire ★
        </p>
      </div>

      <div class="stream-grid">
        {streamItems.map((item) => (
          <a href={item.link} class="stream-item" target="_blank" rel="noopener noreferrer">
            <div class="item-image-container">
              <img src={item.image} alt={item.title} class="item-image" />
            </div>
            
            <div class="item-content">
              <h2 class="item-title">{item.title}</h2>
              
              <div class="item-meta">
                <p>{item.author}</p>
              </div>
            </div>
          </a>
        ))}
      </div>
    </div>
  </PageWrapper>
</Layout>

<style>
  .stream-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem 5rem 1.5rem ;
    overflow-x: hidden;
  }
  
  .stream-intro {
    margin-bottom: 3.5rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1.5rem;
  }
  
  .stream-title {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    margin: 0 0 1.25rem;
  }
  
  .stream-description {
    font-size: 1rem;
    color: var(--color-grey);
    max-width: 800px;
    line-height: 1.6;
    margin: 0 0 1.5rem;
  }
  
  .stream-link {
    color: var(--color-text);
    text-decoration: none;
    border-bottom: 1px dotted var(--color-text);
    transition: all 0.2s ease;
  }
  
  .stream-link:hover {
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-accent);
  }

  .stream-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem;
  }

  .stream-item {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid var(--color-border);
    border-radius: 0;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 100%;
  }
  
  .stream-item:hover {
    background-color: #FFF2EB;
  }

  .item-image-container {
    width: 100%;
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
    background-color: #f3f4f6;
  }

  .item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
  }

  .item-content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .item-title {
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0 0 0.4rem 0;
    color: var(--color-text);
    line-height: 1.4;
  }
  
  .stream-item:hover .item-title {
    color: var(--color-text);
  }

  .item-meta p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-grey);
    line-height: 1;
  }

  @media (max-width: 1024px) {
    .stream-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
    }
    
    .item-title {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 768px) {
    .stream-container {
      padding: 2rem 1rem;
    }
    
    .stream-title {
      font-size: 2rem;
    }
    
    .stream-description {
      font-size: 1rem;
    }
    
    .stream-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1.25rem;
    }
    
    .item-content {
      padding: 1rem;
    }
    
    .item-title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    
    .item-meta p {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 480px) {
    .stream-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    
    .item-image-container {
      padding-top: 100%; 
    }
    
    .item-content {
      padding: 0.75rem;
    }
    
    .item-title {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }
    
    .item-meta p {
      font-size: 0.75rem;
      line-height: 1.3;
    }
  }

  @media (max-width: 360px) {
    .stream-grid {
      grid-template-columns: 1fr;
    }
    
    .item-image-container {
      padding-top: 66.67%; 
    }
  }
</style>
